@font-face {
    font-family: 'noyh_geometricblack';
    src: url('fonts/noyhgeometric-black-webfont.otf') format('otf'),
    	 url('fonts/noyhgeometric-black-webfont.woff2') format('woff2'),
         url('fonts/noyhgeometric-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noyh_geometricmedium';
    src: url('fonts/noyhgeometric-medium-webfont.otf') format('otf'),
         url('fonts/noyhgeometric-medium-webfont.ttf') format('ttf'),
    	 url('fonts/noyhgeometric-medium-webfont.woff2') format('woff2'),
         url('fonts/noyhgeometric-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noyh_geometric_regularregular';
    src: url('fonts/noyhgeometric-regular-webfont.otf') format('otf'),
    	 url('fonts/noyhgeometric-regular-webfont.woff2') format('woff2'),
         url('fonts/noyhgeometric-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rock-webfont';
    src: url('fonts/rock-webfont.ttf') format('ttf'),
         url('fonts/rock-webfont.woff2') format('woff2'),
         url('fonts/rock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockb-webfont';
    src: url('fonts/rockb-webfont.ttf') format('ttf'),
         url('fonts/rockb-webfont.woff2') format('woff2'),
         url('fonts/rockb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockeb-webfont';
    src: url('fonts/rockeb-webfont.ttf') format('ttf'),
         url('fonts/rockeb-webfont.woff2') format('woff2'),
         url('fonts/rockeb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}