body #menu #menu-menu-principal li {
	border-bottom: 5px solid #fff!important;
	-webkit-transition: all .3s ease-in-out 0s!important;
	transition: all .3s ease-in-out 0s!important
}

body #menu #menu-menu-principal li:hover {
	border-bottom: 5px solid!important;
	border-color: inherit!important;
	-webkit-transition: all .3s ease-in-out 0s!important;
	transition: all .3s ease-in-out 0s!important
}

body #menu #menu-menu-principal li.active {
	border-color: inherit!important
}

body #cuerpo #slider {
	margin-top: 0
}

#wrapper.toggled {
	display: none
}

#sidebar-wrapper {
	background: #fff
}

#sidebar-wrapper.navbar {
	display: block!important;
	align-items: normal!important;
	padding: 1.3em 1.9em;
}

#menu_head h4 {
    margin-top: 0.3em;
    letter-spacing: -0.03em;
}

#menu_head button {
    margin-top: -5px;
}

#menu_head h6 {
	background: #dfdfdf;
	margin-top: 1.05em;
	margin-bottom: 1.6em;
    padding: 0.7em 1.25em 0.6em;
    border-radius: 5px;
}

#menu_head h6 + h6 {
	margin-top: -0.7em;
}

#menu_head h6 a {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_head h6 span {
	background: #1197d4;
	color: white;
	margin-right: -0.7em;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.9em;
    margin-top: -0.15em;
    font-size: 0.9em;
    padding-left: 0.1em;
}

#menu_head hr {
    border-color: #cbcbcb;
    margin-bottom: 1.9em;
}

#wrapper.toggled #sidebar-wrapper {
	background: #fff;
	width: 100vw;
	padding-bottom: 40px;
	max-height: 120vh;
	overflow: scroll
}

.hamburger.is-open {
	right: 20px!important
}

.hamburger {
	height: 30px;
	top: 30px;
	right: -50px;
	width: 25px
}

.hamburger.is-closed .hamb-bottom,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-top,
.hamburger.is-open .hamb-bottom,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-top {
	height: 2px
}

.hamburger.is-closed .hamb-middle {
	margin-top: -1px!important
}

.hamburger.is-closed:hover .hamb-top {
	top: 5px!important
}

.hamburger.is-closed:hover .hamb-bottom {
	bottom: 5px!important
}

#sidebar-wrapper .contenedor {
	width: 100%
}

#sidebar-wrapper .contenedor form {
	margin-top: 20px;
	position: relative
}

#sidebar-wrapper .contenedor form input {
	padding: 0.7em;
	width: 100%
}

#sidebar-wrapper a {
	color: #000
}

#sidebar-wrapper a.btn {
	border-radius: 5px;
	border-color: #000;
	background-color: #fff
}

#sidebar-wrapper #categorias ul {
	margin: 1.8em 0;
	padding-left: 0
}

#sidebar-wrapper #categorias ul li {
	position: relative;
	margin-top: 5px;
	list-style-type: none;
	border-left-width: 6px;
    border-left-style: solid;
    padding: 3px 4% 0;
    font-size: 1.1em;
    letter-spacing: 0.015em;
    margin-bottom: 1em;
}

#sidebar-wrapper #categorias ul li:last-child {
	border: none;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
    margin-top: 1.6em;
    padding: 0.4em 0;
    font-size: 1.2em;
    letter-spacing: -0.025em;
}

#sidebar-wrapper #categorias ul li:last-child a {
    padding: 0.5em 0;
}

#sidebar-wrapper .lupa {
	position: absolute;
    right: 1.2em;
    top: 1em;
    color: #b1b1b1;
    width: 1em;
}

body #cuerpo #resultados .padd-left {
	min-height: auto
}

body #cuerpo #resultados #meses,
body #cuerpo #resultados #meses2,
body #cuerpo #resultados #paginado {
	padding: 1.4em 10px
}

body #cuerpo #archivo #video img {
	width: 100%
}

body #cuerpo #lista #top .slide .share {
	top: 19%
}

#cuerpo #cupones #resultados {
	padding-top: 40px
}

#cuerpo #cupones #resultados p.no-resultados {
	margin-left: 30px
}

#cuerpo #cupones {
	margin-top: 40px
}

#cuerpo #cupones .cats p {
	padding: .25rem 1.5rem
}

#select-categorias .dropdown-item {
	padding: .5rem 1.5rem
}

#select-categorias .cats a span {
	width: 6px!important;
	vertical-align: middle;
	height: 20px!important;
	margin-right: 6px
}

body #cuerpo #cupones #paginado_cupones span {
	cursor: pointer
}

body #cuerpo #cupones #resultados a {
	color: #fff
}

body #cuerpo #cupones #resultados p span {
	font-size: .8em
}

body #cuerpo #resultados .mini.alargado span.fondo {
	font-size: 1.4em;
	padding: .85em 2.8em .9em
}

body #cuerpo #cupones #resultados h6 {
	font-size: 1.2em;
	margin-bottom: 10px
}

body #cuerpo #cupones .ubicar {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)
}

body header #login .dropdown-item {
	font-size: 1em
}

#login .dropdown-menu {
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
	-moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25)
}

#select-categorias .dropdown .btn-secondary,
#select-orden .dropdown .btn-secondary {
	font-size: 18px;
	display: block;
	color: #212529;
	border: none;
	background: #fff;
	padding: 0
}

#select-categorias .dropdown-toggle::after,
#select-orden .dropdown-toggle::after {
	color: #848484;
	font: normal normal normal 18px/1 FontAwesome;
	content: "\f078";
	border: none;
	position: absolute;
	right: 40px
}

#select-categorias label,
#select-orden label {
	margin-bottom: 0
}

#select-categorias .dropdown-menu,
#select-orden .dropdown-menu {
	min-width: 18rem;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
	-moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25);
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .25)
}

#select-categorias .dropdown .btn:active.focus,
#select-categorias .dropdown .btn:active:focus,
#select-orden .dropdown .btn:active.focus,
#select-orden .dropdown .btn:active:focus {
	box-shadow: none;
	outline: 0!important;
	border: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

#select-categorias .dropdown .btn-secondary.focus,
#select-categorias .dropdown .btn-secondary:focus,
#select-orden .dropdown .btn-secondary.focus,
#select-orden .dropdown .btn-secondary:focus {
	box-shadow: none;
	outline: 0!important;
	border: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

body #cuerpo #cupones .dropdown-menu .dropdown-item.is-checked .fa {
	color: #1f97d0;
	display: inline-block
}

body #cuerpo #cupones #paginado_cupones {
	text-align: center;
	max-width: 50%;
	margin: 20px auto 0
}

#cuerpo #cupones #resultados #paginado_cupones .fa {
	color: #848484
}

.oscuro {
	opacity: .5
}

body #cuerpo #evento #informacion #similares .mini h6 {
	height: auto
}

body #cuerpo #slider .slide .link .info .wrapper {
	max-height: inherit
}

body #cuerpo #slider .slide .share,
body #cuerpo #top .slide .share {
	border: 2px solid #fff;
	padding-top: 10px;
	top: 30px;
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	opacity: .5
}

body #cuerpo #slider .slide .share:hover,
body #cuerpo #top .slide .share:hover {
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	opacity: 1
}

body h3 a .fa {
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s
}

body h3 a:hover .fa {
	margin-left: 5px;
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s
}

body #cuerpo #acerca #informacion .btn,
body #cuerpo #archivo #informacion .btn,
body #cuerpo #beneficio #informacion .btn,
body #cuerpo #evento #informacion .btn {
	border: none;
	cursor: pointer
}

#informacion .espacio {
	display: none
}

body #cuerpo #slider .slick-dots {
	display: none!important
}

body #cuerpo #beneficio.cuponera #cerrar {
	z-index: 9999
}

body #cuerpo #beneficio.cuponera #cerrar .hamburger {
	top: 0!important;
	cursor: pointer
}

.fancybox-toolbar {
	display: none!important
}

body #cuerpo #beneficio.cuponera #recortable #imagen .dummy {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)
}

body #cuerpo #beneficio.cuponera #recortable #imagen {
	background-position: center center;
	background-size: cover
}

body #cuerpo #beneficio.cuponera #recortable h6 {
	text-align: right
}

body #cuerpo #resultados #filtros #localidades .dropdown>a+div label span,
body #cuerpo #resultados #filtros #subcategorias .dropdown>a+div label span {
	height: 20px;
	width: 20px;
	vertical-align: text-bottom;
	margin-right: 16px
}

body #cuerpo #resultados #filtros #localidades .dropdown>a+div label,
body #cuerpo #resultados #filtros #subcategorias .dropdown>a+div label {
	margin-bottom: 1.8em
}

.seleccionados .badge,
[type=checkbox]:checked+span {
	background-color: #1197d4!important
}

p#descarga a {
	color: #1197d4
}

p#descarga a i {
	color: #1197d4
}

[type=checkbox]:checked+span {
	border-color: gray!important
}

body #cuerpo #acerca #informacion #resumen p .web,
body #cuerpo #archivo #informacion #resumen p .web,
body #cuerpo #beneficio #informacion #resumen p .web,
body #cuerpo #evento #informacion #resumen p .web {
	color: #1197d4
}

.btn-transparente, body header #login+button.btn-transparente, body #menu_head button.btn-transparente {
	background: transparent;
	border: 1px solid;
    padding: 0.37em 1.45em;
}

.btn-transparente:hover, .btn-transparente:focus {
	outline: none;
	box-shadow: none;
}

#sidebar-wrapper #categorias + div a {
    padding: 0.5em 0;
    margin-left: -0.2em;
    margin-bottom: 0.8em;
}

#sidebar-wrapper #categorias + div a .fa {
    font-size: 1.5em;
    margin-right: 0.6em;
    width: 0.7em;
}

#head_botones a {
    margin: 2em 0 0.3em;
    padding: 0.55em 2em;
    min-width: 46%;
}

#head_botones a.celeste {
    background: #3797d4;
    border-color: #3797d4;
    color: white;
}

#head_botones a.gris {
    background: #dfdfdf;
    border-color: #dfdfdf;
    color: black;
}

@media screen and (max-width:1681px) {
	body #cuerpo #slider .slide .dummy {
		padding-top: 26%
	}
}

@media screen and (max-width:1440px) {
	body #cuerpo #slider .slide .dummy {
		padding-top: 30%
	}
}

@media screen and (max-width:1470px) {
	.fancybox-slide:before {
		height: auto!important
	}
	.fancybox-slide {
		padding: 0!important
	}
	body #cuerpo #slider .slide,
	body #cuerpo #top .slide {
		background-position: center right -150px
	}
}

@media screen and (max-width:1368px) {
	body #cuerpo #slider .slide .dummy {
		padding-top: 32%
	}
}

@media screen and (max-width:1200px) {
	body #menu #menu-menu-principal li {
		margin: 0 5px
	}
	body header #login {
		width: 28%
	}

	body header #login + button {
		margin-right: 4.7%;
		margin-top: 2px;
	}
}

@media screen and (max-width:1152px) {
	body #cuerpo #lista #top .titular h5 {
		padding-top: 1.5em
	}
	body #cuerpo #lista #top .titular h1 {
		font-size: 2.5em;
		margin-bottom: .5em
	}
	body #cuerpo #slider .slide .link .info,
	body #cuerpo #top .slide .link .info {
		width: 60%
	}
	body #cuerpo #slider .slide .dummy,
	body #cuerpo #top .slide .dummy {
		padding-top: 36%
	}
	body #cuerpo #slider .slide .pie {
		display: none
	}
	body #cuerpo #slider .slide .link .info .detalles p,
	body #cuerpo #top .slide .link .info .detalles p {
		font-size: 1.2em
	}
	body #cuerpo #slider .slide .link .info .titular h4,
	body #cuerpo #top .slide .link .info .titular h4 {
		font-size: 2.6em
	}
	body #cuerpo #slider .slide .link .volanta,
	body #cuerpo #top .slide .link .volanta {
		left: 52%
	}
	body #cuerpo #slider .slide .share,
	body #cuerpo #top .slide .share {
		left: 34%
	}
}

@media screen and (max-width:1026px) {
	body #cuerpo #slider .slide .dummy {
		padding-top: 42%
	}
}

@media screen and (max-width:992px) {
	body #cuerpo #slider .slide,
	body #cuerpo #top .slide {
		background-position: center right 0
	}
	body #cuerpo #beneficio #top .slide .link,
	body #cuerpo #evento #top .slide .link,
	body #cuerpo #lista #top .slide .link {
		position: relative;
		display: block
	}
	body #cuerpo #beneficio #top .slide .dummy,
	body #cuerpo #evento #top .slide .dummy,
	body #cuerpo #lista #top .slide .dummy {
		padding-top: 0
	}
	body #cuerpo #beneficio #top .slide .info .fondo,
	body #cuerpo #evento #top .slide .info .fondo {
		background: 0 0!important
	}
	body #cuerpo #beneficio #top .slide .info,
	body #cuerpo #evento #top .slide .info {
		width: 100%;
		margin-top: 80px
	}
	body #cuerpo #lista #top .info {
		padding-bottom: 12%;
		width: 100%
	}
	body #cuerpo #beneficio #top .slide .info .wrapper,
	body #cuerpo #evento #top .slide .info .wrapper {
		padding: 0;
		max-width: 100%
	}
	body #cuerpo #beneficio #top .slide .info .titular {
		background: rgba(255, 255, 255, .8);
		font-size: .8em;
		padding-left: 30px
	}
	body #cuerpo #evento #top .slide .info .titular {
		background: rgba(31, 151, 208, .8);
		font-size: .8em;
		padding-left: 30px
	}
	body #cuerpo #beneficio #top .slide .pie,
	body #cuerpo #evento #top .slide .pie {
		display: none
	}
	body #cuerpo #beneficio #top h4,
	body #cuerpo #evento #top h4 {
		font-size: 1.9em
	}
	body #cuerpo #beneficio #top h5,
	body #cuerpo #evento #top h5 {
		opacity: .53;
		font-family: 'PT Serif', serif;
		letter-spacing: .06em
	}
	body #cuerpo #lista #top .titular {
		width: 80%
	}
	body #cuerpo #beneficio #top .slide .info .titular p,
	body #cuerpo #evento #top .slide .info .titular p {
		color: inherit;
		padding-top: 0
	}
	body #cuerpo #evento #top .titular .fix p {
		padding: 15px 30px 10px!important
	}
	#cuerpo #evento #top.beneficio .slide .info .titular p.valorados {
		padding: 0 30px 20px!important;
		margin-top: 0!important
	}
	body #cuerpo #evento #top .titular .fix p strong {
		font-size: inherit!important;
		display: inline-block!important;
		vertical-align: inherit!important
	}
	body #cuerpo #beneficio #top .slide a.link,
	body #cuerpo #evento #top .slide a.link {
		color: #fff;
		background: rgba(0, 0, 0, .25);
		display: block
	}
	body #cuerpo #beneficio #top .slide a.link .only_mobile,
	body #cuerpo #evento #top .slide a.link .only_mobile {
		padding: 30px
	}
	body #cuerpo #beneficio #top #descuento,
	body #cuerpo #evento #top #descuento {
		text-align: center;
		padding: 10px 0
	}
	body #cuerpo #beneficio #informacion #texto .btn,
	body #cuerpo #evento #informacion #texto .btn {
		margin-bottom: 30px
	}
	body #cuerpo #beneficio #informacion .padded-fix.map,
	body #cuerpo #evento #informacion .padded-fix.map {
		padding: 0 10px
	}
	body #cuerpo #evento #informacion #boton2 {
		padding: 30px 15px 0 15px;
		width: 100%
	}
	body #cuerpo #evento #top p.limite {
		position: absolute;
		bottom: 110px;
		padding-right: 30px
	}
	body #cuerpo #lista #top .slide h5 .share {
		top: 30%;
		left: auto;
		right: -100px;
		opacity: .8;
		color: #fff
	}
	body #cuerpo #lista #top .titular h5 {
		margin-top: 0
	}
	body #cuerpo #archivo #video {
		padding-left: 30px;
		padding-right: 30px
	}
	body #cuerpo #lista #top .slide .link .info .fondo {
		background: rgba(0, 0, 0, .25)!important;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		left: 0
	}
	body #cuerpo #acerca #informacion,
	body #cuerpo #archivo #informacion,
	body #cuerpo #beneficio #informacion,
	body #cuerpo #evento #informacion {
		padding: 1em 10px
	}
	body header {
		background: #fff;
		position: fixed;
		top: 0;
		max-width: 100%!important;
		z-index: 998
	}
	body header .custom-logo {
		margin-left: 0;
		width: 136px;
    	padding: 1.3em 0.9em;
	}
	div#header #wrapper {
		z-index: 999
	}
	nav.navbar.navbar-expand-lg {
		display: none
	}
	#wrapper.toggled {
		display: block
	}
	body #cuerpo {
		margin-top: 80px
	}
	body #ahorro+#cuerpo {
		margin-top: 30px
	}
	body #cuerpo #acerca,
	body #cuerpo #beneficio #informacion #texto,
	body #cuerpo #evento #informacion #texto {
		padding: 0
	}
	body header a.txt-login {
		margin-right: 15px
	}
	body #cuerpo #beneficio #informacion #resumen,
	body #cuerpo #evento #informacion #resumen {
		padding: 1.5em 0
	}
	body #cuerpo #lista #top .titular h1 {
		font-size: 1.8em
	}
	body #cuerpo #acerca #top .slide .dummy {
		padding-top: 35.2%
	}
	body #cuerpo #slider .slide .dummy,
	body #cuerpo #top .slide .dummy {
		padding-top: 46%
	}
	body #cuerpo #slider .slide .link .volanta,
	body #cuerpo #top .slide .link .volanta {
		left: 54%
	}
	body #cuerpo #slider .slide .link .volanta p strong,
	body #cuerpo #top .slide .link .volanta p strong {
		font-size: 2.2em
	}
	body #cuerpo #slider .slide .link .info .titular h4,
	body #cuerpo #top .slide .link .info .titular h4 {
		font-size: 2.2em;
		width: 320px
	}
	body #cuerpo #slider .slide .link .info .titular h5 {
		margin-top: 20px;
		padding: 20px 0 2px
	}
	#footer .container {
		display: block!important;
		text-align: center
	}
	#footer div.footer-navigation,
	#footer figure {
		display: block!important;
		text-align: center;
		margin: 20px 0;
		width: 100%
	}
	#footer #sidebar {
		display: block;
		text-align: center;
		width: 100%
	}
	#footer ul#menu-footer {
		display: block!important;
		margin: 20px 0!important;
		padding: 0
	}
	#footer ul#menu-footer li {
		margin: 10px 0!important
	}
	body #cuerpo #acerca #informacion #texto {
		padding: 0
	}
	body #cuerpo #acerca.aliado #form {
		margin-top: 0;
		padding-top: 3em
	}
	body #cuerpo #suscripcion #clarito h6 {
		font-size: 1.4em;
		line-height: 1.4em;
		margin-bottom: 20px
	}
	#buscador,
	#login {
		display: none
	}
	#select-categorias {
		margin-bottom: 20px
	}
	#select-categorias h2,
	#select-orden h2 {
		margin-left: 20px
	}
	#select-categorias,
	#select-orden {
		margin-left: 15px
	}
	.resultados_totales p {
		margin-left: 0
	}
	body #cuerpo #beneficios .mini.grande span.fondo {
		font-size: inherit
	}
	body #cuerpo #beneficios .mini.grande span.fondo p strong+span {
		font-size: 1em
	}
	body #cuerpo #archivo .mini.chico h6,
	body #cuerpo #archivos .mini.chico h6,
	body #cuerpo #beneficio .mini.chico h6,
	body #cuerpo #beneficios .mini h6,
	body #cuerpo #beneficios .mini.chico h6,
	body #cuerpo #evento .mini.chico h6,
	body #cuerpo #lista .mini.chico h6,
	body #cuerpo #proximos .mini h6,
	body #cuerpo #proximos .mini.chico h6,
	body #cuerpo #resultados .mini.chico h6,
	body #cuerpo #sugeridos .mini.chico h6 {
		font-size: 1.4em;
		line-height: 1.3em
	}
	body #cuerpo #archivo .mini .ubicar,
	body #cuerpo #archivos .mini .ubicar,
	body #cuerpo #beneficio .mini .ubicar,
	body #cuerpo #beneficios .mini .ubicar,
	body #cuerpo #evento .mini .ubicar,
	body #cuerpo #lista .mini .ubicar,
	body #cuerpo #proximos .mini .ubicar,
	body #cuerpo #resultados .mini .ubicar,
	body #cuerpo #sugeridos .mini .ubicar {
		padding: 1.1em 1.5em
	}
	body #cuerpo #proximos .mini.grande span.fondo p strong {
		margin-right: .2em
	}
	body #cuerpo #slider .slide .share,
	body #cuerpo #top .slide .share {
		left: 32%;
		top: 45px
	}
	body #cuerpo #acerca #informacion #resumen p,
	body #cuerpo #archivo #informacion #resumen p,
	body #cuerpo #beneficio #informacion #resumen p,
	body #cuerpo #evento #informacion #resumen p {
		font-size: 1.1em
	}
	body #cuerpo #acerca #informacion #texto p,
	body #cuerpo #archivo #informacion #texto p,
	body #cuerpo #beneficio #informacion #texto p,
	body #cuerpo #evento #informacion #texto p,
	body #cuerpo #lista #informacion .padded p {
		font-size: 1.1em
	}
	body #cuerpo #acerca #informacion #resumen p .celeste,
	body #cuerpo #archivo #informacion #resumen p .celeste,
	body #cuerpo #beneficio #informacion #resumen p .celeste,
	body #cuerpo #evento #informacion #resumen p .celeste,
	span.celeste {
		width: 10%
	}
	body #cuerpo #resultados .mini.chico span.fondo {
		font-size: 1.3em;
		padding: .55em 2em .6em
	}
	body #cuerpo #resultados .mini.chico span.fondo p {
		padding: 0
	}
	#filtros,
	#head .dropdown-menu {
		position: fixed!important;
		top: 0!important;
		left: 0!important;
		width: 100vw;
		height: 100vh;
		transform: none!important;
		overflow: scroll!important
	}
	body #cuerpo #resultados #filtros {
		display: none;
		padding: 30px;
		font-size: 1rem;
		color: #212529;
		text-align: left;
		list-style: none;
		background-color: #fff;
		border-radius: .25rem;
		z-index: 1000;
		margin: 0
	}
	body #cuerpo #resultados #filtros .btn {
		margin-top: 30px;
		margin-bottom: 40px
	}
	body #cuerpo #beneficio.cuponera {
		padding: 0!important
	}
	body #cuerpo.cupones {
		margin-top: 30px!important
	}
	body #cuerpo #beneficio .imprimible #resumen {
		padding: 1em 20px!important
	}
	body #cuerpo #beneficio.cuponera #informacion #resumen .celeste {
		width: 5%
	}
	body #cuerpo #beneficio.cuponera #recortable #imagen .fondo {
		font-size: 1.4em;
		padding: .85em 2.8em .9em
	}
	body #cuerpo #cupones #ahorro {
		display: block!important;
		text-align: center;
		padding: 0 15px
	}
	body #cuerpo #cupones #ahorro p {
		font-size: 1.3em;
		padding: 15px 15px
	}
	body #cuerpo #beneficios .mini span.fondo p.fixp {
		font-size: .9em;
		line-height: 1.3em
	}
	body #cuerpo #beneficios .mini.chico span.fondo p.fixp {
		padding: .6em 1.3em .8em 2em;
		line-height: 1.2em
	}
	body #ahorro {
		margin-top: 88px
	}
	body #cuerpo #cupones {
		margin-top: -60px
	}
}

@media screen and (max-width:768px) {
	body #cuerpo #cupones #head {
		margin-top: 5em
	}
	body #cuerpo {
		padding: 0 10px
	}
	body #cuerpo #lista #informacion .padded {
		padding: 2em 30px 0;
		max-width: 100%
	}
	body #cuerpo #lista #sugeridos .sugerido a figure span.descuento {
		padding: .75em 75px .75em 50px
	}
	body #cuerpo #lista #sugeridos .sugerido .fa {
		padding: 1.2em 1.2em 0 0
	}
	body footer .container img {
		margin-left: 0
	}
	body footer .footer-cr {
		margin-top: 20px
	}
	body footer .footer-cr p {
		font-size: .9em;
		display: inline-block;
		margin-left: 15px
	}
	body footer .footer-cr a {
		display: inline-block;
		vertical-align: top
	}
	body #cuerpo #lista #top .titular h1 {
		font-size: 1.6em
	}
	body #cuerpo #archivo #informacion #resumen h1 {
		font-size: 2em
	}
	body #cuerpo #acerca #top .slide .dummy {
		padding-top: 50%;
		background-color: rgba(0, 0, 0, .25);
		margin-bottom: 30px
	}
	body #cuerpo #slider .slide .link .info .fondo {
		opacity: .85;
		width: 100%;
		height: 200%;
		left: 0
	}
	body #cuerpo #acerca #top .slide .dummy {
		margin-bottom: 10px
	}
	body #cuerpo #slider .slide .link .info .titular h5 {
		padding: 20px 0 2px
	}
	body #cuerpo #slider .slide .dummy {
		background-color: rgba(0, 0, 0, .25);
		padding-top: 66%
	}
	body #cuerpo #slider .slide .link .info {
		width: 80%;
		height: 80%
	}
	body #cuerpo #top .slide .link .info {
		overflow: inherit;
		width: 100%
	}
	body #cuerpo #lista #top .titular .fecha {
		position: absolute;
		bottom: -90px;
		color: #000
	}
	body #cuerpo #lista #top .titular .fecha i {
		color: #1197d4
	}
	body #cuerpo #lista #top .slide .link {
		margin-bottom: 40px
	}
	body #cuerpo #slider .slide .share {
		display: none
	}
	body #cuerpo #top .slide .share {
		left: auto!important;
		right: 8%
	}
	body #cuerpo #lista #top .slide .share {
		color: #000;
		position: absolute;
		top: inherit;
		bottom: -60px;
		right: 20px
	}
	body #cuerpo #slider .slide .link .info .wrapper {
		max-width: 320px
	}
	body #cuerpo #top .slide .link .info .wrapper {
		max-width: 100%
	}
	body #cuerpo #slider .slide .link .volanta,
	body #cuerpo #top .slide .link .volanta {
		position: relative;
		right: 0;
		left: 0;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		z-index: 2;
		height: 20%
	}
	body #cuerpo #slider .slide .link .volanta {
		padding: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center
	}
	body #cuerpo #slider .slide .link .volanta p,
	body #cuerpo #top .slide .link .volanta p {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
	body #cuerpo #slider .slide .link .volanta p {
		padding-left: 30px
	}
	body #cuerpo #slider .slide .link .info .detalles p,
	body #cuerpo #top .slide .link .info .detalles p {
		font-size: 1em
	}
	body #cuerpo #slider .slide .link .info.eventos .detalles {
		width: 130%
	}
	body #cuerpo #acerca #informacion #texto,
	body #cuerpo #archivo #informacion #texto,
	body #cuerpo #beneficio #informacion #texto,
	body #cuerpo #evento #informacion #texto {
		padding: 1em 0
	}
	body #cuerpo #acerca #informacion #texto {
		padding: 0 30px
	}
	body #cuerpo #acerca #informacion,
	body #cuerpo #archivo #informacion,
	body #cuerpo #beneficio #informacion,
	body #cuerpo #evento #informacion {
		padding: 1em 15px
	}
	body #cuerpo #acerca #menu_lateral {
		padding: 1em 15px
	}
	body #cuerpo #acerca .acerca-navigation {
		border-top: 1px solid #cacaca;
		padding-top: 40px;
		margin-top: 10px
	}
	body #cuerpo #lista #top .info {
		padding: 0 20px 15% 20px
	}
	#acerca h1 {
		font-size: 1.5em
	}
	#acerca h4 {
		font-size: 2em;
		position: absolute;
		top: 30px;
		left: 30px;
		color: #fff;
		width: 60%
	}
	body #cuerpo #acerca.aliado #informacion #menu {
		padding: 1em 30px
	}
	body #cuerpo #acerca #informacion .row,
	body #cuerpo #archivo #informacion .row,
	body #cuerpo #beneficio #informacion .row,
	body #cuerpo #evento #informacion .row {
		margin-bottom: 1.5em
	}
	body #cuerpo #acerca #informacion #mapa,
	body #cuerpo #archivo #informacion #mapa,
	body #cuerpo #beneficio #informacion #mapa,
	body #cuerpo #evento #informacion #mapa {
		margin-bottom: 0
	}
	body #cuerpo #acerca #top .slide .pie,
	body #cuerpo #lista #top .slide .pie {
		bottom: 15px;
		left: 20px;
		right: auto;
		padding: 0;
		opacity: .8;
		z-index: 2;
		width: 95%
	}
	body #cuerpo #slider .slide .link .info .titular a {
		margin-top: 30px;
		padding: .4em 1.5em .4em;
		border-radius: 6px
	}
	body #cuerpo #acerca.aliado #form form #cf7md-form .mdc-layout-grid__inner .cf7md-text {
		width: 100%;
		padding: 0 20px
	}
	body #cuerpo #beneficio #informacion #similares h3,
	body #cuerpo #evento #informacion #similares h3 {
		margin-left: 10px
	}
	body #cuerpo #evento #informacion #similares h3 a {
		display: block;
		margin-top: 10px
	}
	.slick-dots button {
		width: .5rem;
		height: .5rem
	}
	span.celeste {
		font-size: 18px;
		color: #1197d4
	}
	body #cuerpo #beneficio #informacion .btn,
	body #cuerpo #evento #informacion .btn {
		max-width: 100%
	}
	body #cuerpo #cupones #paginado_cupones {
		max-width: 100%;
		padding: 0 26px
	}
	body #cuerpo #resultados {
		padding-top: 0;
		padding-bottom: 40px
	}
	body #cuerpo #resultados .mini.alargado span.fondo {
		font-size: 1.3em;
		padding: .55em 2.1em .6em
	}
	body #cuerpo #resultados .mini.alargado .dummy {
		margin-top: 60px
	}
	body #cuerpo #resultados .resultado {
		position: relative
	}
	body #cuerpo #resultados .btn.btn-filtro {
		background-color: #919191;
		color: #fff;
		position: absolute;
		right: 30px;
		top: 10px
	}
	body #cuerpo #acerca #informacion #texto .pregunta_respuesta .respuesta {
		font-size: 1.1em
	}
	body #cuerpo #acerca #informacion #texto .pregunta_respuesta:last-child {
		border-bottom: none
	}
	body #cuerpo #archivos .mini h6 {
		font-size: 1.4em!important;
		height: auto
	}
	body #cuerpo #beneficio.cuponera #cerrar {
		right: 4%!important
	}
	body #cuerpo #beneficio.cuponera #recortable #personales {
		padding: 2em 0 0!important
	}
	body #cuerpo #beneficio.cuponera #recortable h6 {
		margin-top: 20px;
		text-align: left
	}
	body #cuerpo #beneficio.cuponera #recortable #imagen .fondo {
		font-size: 1.3em;
		padding: .55em 2.1em .6em
	}
	body #cuerpo #beneficio.cuponera #recortable #imagen .dummy {
		padding-top: 65%
	}
	body #cuerpo #beneficios .mini.grande span.fondo {
		padding: .5em 2em .5em 3.2em!important;
		min-width: 100%;
		left: -11%
	}
	body #cuerpo #beneficios .mini span.fondo.fix2 {
		left: -11%;
		padding: .6em 2.5em .5em 3.2em!important
	}
	body #cuerpo #resultados .mini.chico span.fondo {
		font-size: 1.07em;
		padding: .5em 4em .5em 3.2em!important;
		left: -11%
	}
	body #cuerpo #beneficios .mini.chico span.fondo.fix2 .fa {
		padding-top: 1.4em
	}
	body #cuerpo #beneficios .mini.grande span.fondo .fa {
		padding-top: .2em;
		font-size: 1.1em
	}
	body #cuerpo #beneficios .mini.chico span.fondo .fa {
		padding-top: .75em
	}
	body #cuerpo #beneficios .mini span.fondo {
		padding: .55em 2em .55em 1.6em!important
	}
	body #cuerpo #proximos .mini.mediano span.fondo {
		padding: .85em 2.2em .85em 3em
	}
	body #cuerpo #proximos .mini.mediano span.fondo .fa {
		font-size: 1.1em;
		padding-top: .2em
	}
	body #cuerpo #slider .slide,
	body #cuerpo #top .slide {
		background-position: center center;
		background-size: auto 500px
	}
	body #cuerpo #suscripcion #clarito h6 {
		padding: 0 20px
	}
	body #cuerpo #beneficios .mini span.fondo p.fixp {
		padding-left: .2em;
		font-size: .9em
	}
	body #cuerpo #beneficios .mini.chico span.fondo p.fixp {
		padding: .4em .6em .5em 1em;
		font-size: .9em
	}
	body #cuerpo #beneficio #top .slide .info .titular p.beneficio_gratis {
		line-height: 1.1em
	}
	body #cuerpo #beneficio #top .slide .info .titular p.beneficio_gratis span.small {
		padding-bottom: 10px
	}
	body #ahorro .container {
		justify-content: flex-start
	}
	body #ahorro .container p {
		font-size: 1.1em;
		padding: 24px 15px
	}
	body #cuerpo #archivo .mini.chico span.fondo p.fixp,
	body #cuerpo #archivos .mini.chico span.fondo p.fixp,
	body #cuerpo #beneficio .mini.chico span.fondo p.fixp,
	body #cuerpo #beneficios .mini.chico span.fondo p.fixp,
	body #cuerpo #evento .mini.chico span.fondo p.fixp,
	body #cuerpo #lista .mini.chico span.fondo p.fixp,
	body #cuerpo #proximos .mini.chico span.fondo p.fixp,
	body #cuerpo #resultados .mini.chico span.fondo p.fixp,
	body #cuerpo #sugeridos .mini.chico span.fondo p.fixp {
		padding: 0
	}
}

@media screen and (max-width:640px) {
	body h3 {
		font-size: 1.6em
	}
	body #cuerpo #slider .slide,
	body #cuerpo #top .slide {
		background-repeat: no-repeat;
		background-size: cover
	}
	body #cuerpo #slider .slide {
		background-repeat: no-repeat;
		background-size: cover
	}
	body #cuerpo #top .slide .link .info {
		width: 100%
	}
	body #cuerpo #slider .slide .link .info {
		width: 80%;
		height: 64%
	}
	body #cuerpo #acerca #top .slide .dummy {
		padding-top: 55%
	}
	body #cuerpo #slider .slide .dummy,
	body #cuerpo #top .slide .dummy {
		padding-top: 80%
	}
	body #aliado a.btn {
		white-space: normal
	}
	body #cuerpo #slider .slide .link .info .fondo {
		left: -10%;
		height: 200%;
		width: 110%;
		display: none
	}
	body #cuerpo #slider .slide .link .info .titular a {
		margin-top: 0
	}
	body #cuerpo #slider .slide .link .info .detalles p>span,
	body #cuerpo #top .slide .link .info .detalles p>span {
		padding-right: 10px
	}
	body #cuerpo #slider .slide .link .info .titular h5 {
		padding: 0 0 2px
	}
	body #cuerpo #slider .slide .link .info .titular h4,
	body #cuerpo #top .slide .link .info .titular h4 {
		font-size: 1.6em;
		width: 240px;
		max-height: 5.4em
	}
	body #cuerpo #slider .slide .link .info .titular h5,
	body #cuerpo #top .slide .link .info .titular h5 {
		font-size: 1.2em
	}
	body #cuerpo #slider .slide .link .info .detalles p span .fa,
	body #cuerpo #top .slide .link .info .detalles p span .fa {
		margin-right: 6px
	}
	body #cuerpo #slider .slides .slick-arrow {
		display: none!important
	}
	body #cuerpo #lista #top .info {
		padding: 0 15px 25% 15px
	}
	#archivos h3,
	#beneficios h3,
	#recomendados h3 {
		font-size: 1.6em;
		padding: 0 15px;
		margin-bottom: .6em!important
	}
	#proximos h3 {
		font-size: 1.6em;
		padding: 0 15px;
		margin-bottom: .6em!important
	}
	body #cuerpo #archivo,
	body #cuerpo #archivos,
	body #cuerpo #beneficio,
	body #cuerpo #beneficios,
	body #cuerpo #evento,
	body #cuerpo #lista,
	body #cuerpo #proximos,
	body #cuerpo #recomendados,
	body #cuerpo #resultados,
	body #cuerpo #sugeridos {
		padding: 2em 0
	}
	body #cuerpo #archivo,
	body #cuerpo #archivos,
	body #cuerpo #resultados {
		padding: 0 0 40px 0
	}
	body #cuerpo #beneficio,
	body #cuerpo #evento {
		padding-top: 0
	}
	body #cuerpo #lista {
		padding: 0 0 2em
	}
	body #cuerpo #lista #sugeridos .sugerido {
		margin: 0
	}
	body #cuerpo #proximos .mini.grande span.fondo {
		font-size: inherit!important;
		padding: .85em 3em .9em 2em
	}
	body #cuerpo #proximos .mini.grande span.fondo .fa {
		padding-top: .8em
	}
	body #cuerpo #proximos .mini .fecha {
		font-size: inherit!important
	}
	body #cuerpo #acerca #informacion #texto p,
	body #cuerpo #archivo #informacion #texto p,
	body #cuerpo #beneficio #informacion #texto p,
	body #cuerpo #evento #informacion #texto p,
	body #cuerpo #lista #informacion .padded p {
		line-height: 1.5em
	}
	body #cuerpo #acerca #informacion #texto p {
		margin: 1em 0 1em
	}
	#sugeridos figure h1 {
		font-size: 1.5em
	}
	body #cuerpo #archivo #informacion #ganadores ul {
		-webkit-column-count: 1;
		column-count: 1
	}
	body #cuerpo #suscripcion #spotlights p {
		font-size: .9em;
		max-width: 120px;
		margin: auto
	}
	body #cuerpo #suscripcion #spotlights .sprite3 {
		padding-right: 50px
	}
	body #cuerpo #banner {
		padding: 2em 15px
	}
	body #cuerpo #banner a img {
		width: 100%
	}
	body #cuerpo #resultados .padd-left .mini.chico .dummy {
		padding-top: 70%
	}
	body #cuerpo #beneficio #top h4,
	body #cuerpo #evento #top h4 {
		width: 80%
	}
	body #cuerpo #beneficio #top .slide .info .titular p strong,
	body #cuerpo #evento #top .slide .info .titular p strong {
		font-size: 1.9em
	}
	body #cuerpo #beneficio #top .slide .titular .share {
		top: 20%
	}
	body #cuerpo #lista #top .titular {
		width: 100%
	}
	body #cuerpo #archivos .slider_multiple {
		padding: 0 15px
	}
	body #cuerpo #beneficio.cuponera {
		padding-top: 0!important
	}
	.fancybox-slide--iframe .fancybox-content {
		width: 100%!important
	}
	body #cuerpo #beneficio.cuponera #recortable {
		padding: 1em!important
	}
	body #cuerpo #beneficio.cuponera #informacion #resumen .celeste {
		width: 8%
	}
	body #cuerpo #beneficios .mini span.fondo p.fixp {
		padding-left: 0
	}
	body #cuerpo #slider .slick-dots {
		display: flex!important;
		padding-right: 30px
	}
	body #cuerpo #slider .slide .link .volanta {
		height: 18%
	}
	body #cuerpo #slider .slide .link .info+div {
		display: block!important;
		padding: 20px 30px;
		height: 18%
	}
	body #cuerpo #slider .slide .link .info+div a {
		color: #fff;
		z-index: 2;
		position: relative;
		border: 2px solid #fff;
		padding: .5em 1.5em .5em;
		border-radius: 5px;
		margin-top: 0;
		display: inline-block;
		font-weight: 500;
		font-size: 1em
	}
	body #cuerpo #slider .slide .link .volanta p {
		font-size: 1.2em
	}
	#cuerpo #cupones #resultados .fa-lg {
		vertical-align: -5%;
		margin-right: 5px
	}
}

@media screen and (max-width:576px) {
	#cuerpo #resultados .seleccionados,
	body #cuerpo #resultados h3,
	body #cuerpo #resultados h3+p {
		padding-left: 15px;
		padding-right: 15px;
		width: 65%
	}
	body #cuerpo #resultados .seleccionados {
		margin-top: 10px
	}
	#beneficio #informacion #descarga,
	body #cuerpo #beneficio #informacion #resumen,
	body #cuerpo #beneficio #informacion #texto,
	body #cuerpo #evento #informacion #resumen,
	body #cuerpo #evento #informacion #texto {
		padding-left: 15px;
		padding-right: 15px
	}
	#noResultsContainer p {
		padding-left: 15px;
		padding-right: 15px
	}
	body #cuerpo #slider .slide .link .info {
		width: 100%
	}
	body #cuerpo #beneficio #informacion .padded-fix.map {
		padding: 0 15px
	}
	body.home #cuerpo #beneficios .container,
	body.home #cuerpo #recomendados .container {
		padding-right: 30px!important;
		padding-left: 30px!important
	}
	body #aliado {
		padding: 2.1em 10px
	}
	body #cuerpo #acerca #top .slide .info #descuento,
	body #cuerpo #archivo #top .slide .info #descuento,
	body #cuerpo #beneficio #top .slide .info #descuento,
	body #cuerpo #evento #top .slide .info #descuento {
		font-size: 1.1em
	}
	body #cuerpo #beneficio.cuponera #recortable #imagen .fondo p strong {
		font-size: 2em
	}
	.share_bar:last-of-type {
		-webkit-box-pack: justify!important;
		-ms-flex-pack: justify!important;
		justify-content: space-between!important
	}
	body #cuerpo #beneficio.cuponera #flotante {
		top: 20px;
		left: 7%;
		right: 7%
	}
	body #cuerpo #beneficio.cuponera #flotante span {
		font-size: .8em
	}
}

@media screen and (max-width:480px) {
	body #cuerpo #lista #top .titular h1 {
		font-size: 1.6em
	}
	body #cuerpo #lista #top .titular h5 {
		font-size: 1.1em
	}
	body #cuerpo #lista #top .info {
		padding: 0 0 25% 0
	}
	body #cuerpo #acerca #top .slide .dummy {
		padding-top: 80%
	}
	body #cuerpo #slider .slide .dummy,
	body #cuerpo #top .slide .dummy {
		padding-top: 120%
	}
	body #cuerpo #slider .slide .link .info .wrapper {
		padding: 15px 30px 15px 0
	}
	body #cuerpo #top .slide .link .info .wrapper {
		padding: 15px 80px 15px 0
	}
	body #cuerpo #lista #top .titular {
		padding: 0 30px
	}
	body #cuerpo #acerca #top .slide .pie,
	body #cuerpo #lista #top .slide .pie {
		left: 30px;
		width: 100%;
		right: auto;
		text-align: left;
		padding-right: 30px
	}
	body #cuerpo #beneficios .mini.chico span.fondo p strong {
		font-size: 2.3em
	}
	body #cuerpo #beneficios .mini span.fondo,
	body #cuerpo #beneficios .mini span.fondo.fix2 {
		padding: .55em 1em .6em 2.5em!important
	}
	body #cuerpo #beneficios .mini.chico span.fondo .fa,
	body #cuerpo #beneficios .mini.chico span.fondo.fix2 .fa,
	body #cuerpo #proximos .mini.chico span.fondo .fa {
		padding-top: .4em
	}
	body #cuerpo #proximos .mini.mediano span.fondo {
		font-size: 1em;
		padding: .85em 1.3em .85em 3em
	}
	body #cuerpo #proximos .mini span.fondo p {
		font-size: .9em
	}
	body #cuerpo #acerca #top .slide .info #descuento div.actual,
	body #cuerpo #archivo #top .slide .info #descuento div.actual,
	body #cuerpo #beneficio #top .slide .info #descuento div.actual,
	body #cuerpo #evento #top .slide .info #descuento div.actual {
		border-left: none;
		display: block
	}
	body #cuerpo #cupones #ahorro p {
		font-size: 1em;
		padding: 10px 10px
	}
	body #cuerpo #resultados .mini.alargado span.fondo p strong {
		margin-right: .1em!important;
		font-size: 1.5em!important
	}
	body #cuerpo #resultados .mini.alargado span.fondo {
		padding: 1em 2.5em .6em!important
	}
	body #cuerpo #evento #top p.limite {
		bottom: 140px
	}
	body #cuerpo #beneficio #top .slide .info .titular p,
	body #cuerpo #evento #top .slide .info .titular p {
		max-width: 360px
	}
	body #cuerpo #evento #top .slide .share {
		top: 8%
	}
	body #cuerpo #slider .slide .link .info .titular h4,
	body #cuerpo #top .slide .link .info .titular h4 {
		font-size: 1.4em
	}
	body #cuerpo #slider .slide .link .volanta p.beneficio_gratis {
		font-size: 1em;
		line-height: 1.2em
	}
	body #cuerpo #slider .slide .link .info .detalles p>span,
	body #cuerpo #top .slide .link .info .detalles p>span {
		margin-right: 0;
		display: block
	}
	body #cuerpo #beneficio #top .slide .info .titular p.beneficio_gratis {
		font-size: 1.5em;
		line-height: 1.2em
	}
	body #cuerpo #beneficio #top .slide .info .titular p.beneficio_gratis>span {
		max-width: 300px
	}
	body header a.txt-login {
		margin-right: 0
	}
	body #cuerpo #beneficios .mini.mediano span.fondo {
		font-size: 1.07em;
		-webkit-transform: skew(32deg);
		-ms-transform: skew(32deg);
		transform: skew(32deg);
		min-width: 100%;
		padding: 0
	}
	body #cuerpo #beneficios .mini.mediano span.fondo p {
		padding: .75em 0 .8em 1.8em;
		-webkit-transform: skew(-32deg);
		-ms-transform: skew(-32deg);
		transform: skew(-32deg);
		letter-spacing: .02em
	}
}

@media screen and (max-width:322px) {
	body #cuerpo #beneficio #top .slide .info .titular p {
		font-size: 1.2em
	}
	body #cuerpo #beneficio #top .slide .titular .share {
		top: 0
	}
	body #cuerpo #beneficio.cuponera #recortable #imagen .fondo p strong {
		font-size: 1.8em
	}
	body #cuerpo #beneficio #top .slide .info .titular p.beneficio_gratis>span {
		max-width: 250px
	}
	body #cuerpo #slider .slide .link .info+div {
		padding: 15px 20px
	}
	body #cuerpo #lista #sugeridos .sugerido a figure span.descuento {
		padding: .75em 60px .75em 40px
	}
}

body #cuerpo #archivos .mini span.d-block.fondo {
	display: none!important
}